@using TFLDataExplorer.Models;
@model List<LineModel>

@{
    ViewData["Title"] = "Live DLR Status";

    var style = "well";
}



@foreach (var item in @Model)
{

    @if (item.name == "DLR")
    {
        style = "dlr-label";
    } 
    else
    {
        style = "well";
    }


    <div class="row">
        <div class="col-sm-3">
            <a href="@Url.Action("Detail", "DLR",  new { name = @item.id } )">
                <div class="@style">@item.name</div>
            </a>
        </div>
        <div class="col-sm-9">
            <div class="col-sm-9">
                @foreach (var status in @item.lineStatuses)
                {
                    <div class="line-status-div">@status.statusSeverityDescription</div>

                }
            </div>
        </div>
    </div>
}



@section scripts {
    <script>
            $(document).ready(function () {
                $(".line-status-div").each(function (i) {

                    // Keep each status as seperate block so that colours and styles can be changed independently.
                    if ($(this).text() == "Closed") {
                        this.style.color = "red";
                    }
                    else if ($(this).text() == "Severe Delays") {
                        this.style.color = "red";
                    }
                    else if ($(this).text() == "Not Running") {
                        this.style.color = "red";
                    }
                    else if ($(this).text() == "Service Closed") {
                        this.style.color = "red";
                    }
                    else if ($(this).text() == "Part Closure") {
                        this.style.color = "orange";
                    }
                    else if ($(this).text() == "Part Suspended") {
                        this.style.color = "orange";
                    }
                    else {
                        this.style.color = "black";
                    }
                });
            });
    </script>
}


