@using TFLDataExplorer.Models;
@model List<LineModel>

@{
    ViewData["Title"] = "Live DLR Status";

    var style = "well";
}



@foreach (var item in @Model)
{

    @if (item.name == "DLR")
    {
        style = "dlr-label";
    }
 
    else
    {
        style = "well";
    }


    <div class="row">
        <div class="col-sm-3">
            <a href="@Url.Action("Detail", "DLR",  new { name = @item.name } )">
                <div class="@style">@item.name</div>
            </a>
        </div>
        <div class="col-sm-9">
            <div class="col-sm-9">
                @foreach (var status in @item.lineStatuses)
                {
                    <div class="well">@status.statusSeverityDescription</div>
                }
            </div>

        </div>

    </div>
}


