@using TFLDataExplorer.Models;
@model List<LineModel>

@{
    ViewData["Title"] = "Live DLR Status";

    var style = "well";
    var statusStyle = "";
}



@foreach (var item in @Model)
{

    @if (item.name == "DLR")
    {
        style = "dlr-label";
    }
 
    else
    {
        style = "well";
    }


    <div class="row">
        <div class="col-sm-3">
            <a href="@Url.Action("Detail", "DLR",  new { name = @item.name } )">
                <div class="@style">
                    <p>@item.name</p>
                </div>
            </a>
        </div>
        <div class="col-sm-9">
            <div class="well">
                @foreach (var status in @item.lineStatuses)
                {
                    @if (status.statusSeverityDescription.Contains("Severe"))
                    {
                        statusStyle = "severe-delay";
                    }
                    else if (status.statusSeverityDescription.Contains("Minor"))
                    {
                        statusStyle = "minor-delay";
                    }
                    else
                    {
                        statusStyle = "";
                    }

                    <p class="@statusStyle">@status.statusSeverityDescription</p>

                }
            </div>
        </div>

    </div>
}


