@using TFLDataExplorer.Models;
@using Newtonsoft.Json;


@model List<LineModel>

@{
    ViewData["Title"] = "Live Tube Status";

    var style = "well";
}



@foreach (LineModel item in @Model)
{

    @if (item.name == "Central")
    {
        style = "central-label";
    }
    else if (item.name == "Bakerloo")
    {
        style = "bakerloo-label";
    }
    else if (item.name == "Circle")
    {
        style = "circle-label";
    }
    else if (item.name == "District")
    {
        style = "district-label";
    }
    else if (item.name == "Hammersmith & City")
    {
        style = "hammersmithandcity-label";
    }
    else if (item.name == "Jubilee")
    {
        style = "jubilee-label";
    }
    else if (item.name == "Metropolitan")
    {
        style = "metropolitan-label";
    }
    else if (item.name == "Northern")
    {
        style = "northern-label";
    }
    else if (item.name == "Piccadilly")
    {
        style = "piccadilly-label";
    }
    else if (item.name == "Victoria")
    {
        style = "victoria-label";
    }
    else if (item.name == "Waterloo & City")
    {
        style = "waterlooandcity-label";
    }
    else
    {
        style = "well";
    }


    <div class="row">
        <div class="col-sm-3">
            <a href="@Url.Action("Detail", "Tube", new { name = @item.id } )">
                <div class="@style">@item.name</div>
            </a>
        </div>
            <div class="col-sm-9">
                  @foreach (var status in @item.lineStatuses)
                  {
                    <a href="@Url.Action("Status", "Tube", new { name = @item.id } )">
                        <div class="line-status-div">@status.statusSeverityDescription</div>
                    </a>
                 }
            </div>
        </div>

}

@section scripts {
    <script>
            $(document).ready(function () {
                $(".line-status-div").each(function (i) {

                    // Keep each status as seperate block so that colours and styles can be changed independently.
                    if ($(this).text() == "Closed") {
                        this.style.color = "red";
                    }
                    else if ($(this).text() == "Severe Delays") {
                        this.style.color = "red";
                    }
                    else if ($(this).text() == "Not Running") {
                        this.style.color = "red";
                    }
                    else if ($(this).text() == "Service Closed") {
                        this.style.color = "red";
                    }
                    else if ($(this).text() == "Part Closure") {
                        this.style.color = "orange";
                    }
                    else if ($(this).text() == "Part Suspended") {
                        this.style.color = "orange";
                    }
                    else {
                        this.style.color = "black";
                    }
                });
            });
    </script>
}

